:root{
  --navyBlue:#0A192F; 
  --halkaWhite:#CCD6F6;
  --halkaGReen:#64ffda;
}
@import url("https://fonts.googleapis.com/css2?family=Enriqueta&display=swap");
* {
  font-family: "Enriqueta", serif;
}
body {
  background-color: var(--navyBlue);
 
}
.about h1 {
  color: var(--halkaWhite);
  text-decoration: 4px line-through #0a192f;
}
.about p {
  color: var(--halkaWhite);
  text-align: justify;
}
.about hr {
  color: #ffffff;
}

i {
cursor: pointer;
}
body {
  margin-top: 20px;
}

.card {
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid var(--halkaGReen);
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}
.card span{
  background-color: rgb(52, 53, 87);
  color: #CCD6F6;
}

.btn-lg::before {
  height: 0%;
  width: 2px;
}
.btn-lg:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.Error-page {
  background-color: var(--navyBlue);
  height: 500px;
  text-decoration: none;
  color: var(--halkaWhite);
  text-align: center;
  margin: 0;
  padding: 150px;
  
}
/* Foooter style */
.footer {
  background-color: rgb(52, 53, 87);
  color: var(--halkaWhite);
}
/* profile */


/* Login style */
.login {
  background-color: #0a192f;
  color: var(--halkaWhite);
}
.login input {
  border: none;
  border-bottom: 2px solid var(--halkaGReen) !important;
  background-color: var(--navyBlue) !important;
  color: var(--halkaGReen) !important;
}
/* Sign up style .... */
.Signup {
  background-color: #0a192f;
  color: var(--halkaWhite);
}
.Signup input {
  border: none;
  border-bottom: 2px solid var(--halkaGReen) !important;
  background-color: var(--navyBlue) !important;
  color: var(--halkaGReen)da !important;
}
/* style={{ background: "#64ffda", color: "oa192f" }} */
.icon{
  background: #64ffda;
  color: var(--navyBlue);
}
.icon:hover{
  background: var(--halkaGReen);
  color: #ffffff;
}
/* /////Scrollbar css */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(52, 53, 87);
  border-radius: 10px;
}